.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.primay-bg{
    background: #ffeabf;
}
.btn-primary{
    background: #e9a106;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.r{
    color: brown;
}
.naver{
    display: flex;
    list-style: none;
    align-items: center;
    
}
.naver a{
    text-decoration: none;
    margin: 50px;
}
/* Header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Banner Section  */
.banner-geetions{
    font-size: 20px;
    font-weight: 600;
    color: #322e2e;
}
.banner-title{
    font-size: 48px;
    font-weight: 600;
}
.banner-img{
    width: 500px;
}
.banner{
    display: flex;
    margin: 0px 20px 0px 200px;
    align-items: center;
    justify-content: space-around;
}
.banner-containt{
    max-width: 580px;
    
}
/* about section  */
.about{
    border-radius: 10px;
    padding: 20px 80px;
    text-align: center;
}
.about-title{
    font-size: 35px;
    font-weight: 700;
}
.about-description{
    font-size: 18px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 50px auto;
}
.about-itmes{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}
/* about skill section  */
.skills{
  text-align: center;
}
.skill-container{
    display: flex;
    gap: 10px;
}
.skill{
    margin-top: 20px;
    padding: 25px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.6);
}
.resume-title{
    text-align: center;
    font-size: 52px;
}
.resume{
    margin-top: 100px;
}
.resume-skills{
    display: flex;
    gap: 50px;
    
}
.resume-skills{
    padding: 10px;
}
.cv-btn{
    align-items: center;
    justify-content: center;
}